<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
</head>
<body>
    <h1>My Custom Login Page</h1>

    <!-- Check for Login Error -->
    <div th:if="${param.error}">
        <i>Sorry! You entered invalid username/password.</i>
    </div>

    <!-- Check for Logout -->
    <div th:if="${param.logout}">
        <i>You have been logged out.</i>
    </div>


    <form method="post" th:action="@{/authenticateTheUser}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>